.footer {
  background-color: $black;
  height: $footerHeight;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text {
  color: $white;
  font-size: 1.6rem;
}

.footer-symbol {
  color: $teal;
}

.footer-link:hover {
  cursor: pointer;
}
