.header {
  height: $headerHeight * .6;
  width: 100%;
  background-size: cover;
  background-position: center;

  @include respond(md) {
    height: $headerHeight;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Background image imports are relative to `src/App.scss` - that file imports all other SCSS
// so we're importing from `./images` rather than `../../images/<example>` even though the latter
// would be correct relative to here
.header-home {
  background-image: linear-gradient( to right bottom,
  rgba(lighten($darkblue, 20%), 0.85),
  rgba($darkblue, 0.85)),
  url(./images/home.jpg);
}

.header-about {
  background-image: linear-gradient( to right bottom,
  rgba(lighten($darkblue, 20%), 0.85),
  rgba($darkblue, 0.85)),
  url(./images/about.jpg);
}

.header-community {
  background-image: linear-gradient( to right bottom,
  rgba(lighten($darkblue, 20%), 0.85),
  rgba($darkblue, 0.85)),
  url(./images/community.jpg);
}

.header-events {
  background-image: linear-gradient( to right bottom,
  rgba(lighten($darkblue, 20%), 0.85),
  rgba($darkblue, 0.85)),
  url(./images/events.jpg);
}

.header-title {
  margin: 0;
  color: $gray;
  font-size: 5.6rem;
  font-weight: 400;

  @include respond(md) {
    font-size: 7.2rem;
  }
}
