.heading {
  font-weight: 400;
  font-size: 4.2rem;
  width: 70%;
  margin-bottom: 2.4rem;
}

.heading-left {
  // WIP
  &::before {

  }
}

.heading-right {
  // WIP
  &::after {

  }
}

.heading-highlight {
  color: $teal;
}