.heading-container {
  position: relative;
  display: flex;

}

.heading-container-left {
  justify-content: left;
}

.heading-container-right {
  justify-content: right;
}

.heading {
  font-weight: 400;
  font-size: 4.2rem;
  width: 70%;
  margin-bottom: 2.4rem;
}

.heading-left {
  text-align: left;

  &::before {

  }
}

.heading-right {
  text-align: right;

  &::after {

  }
}

.heading-highlight {
  color: $teal;
}