.heading-container {
  position: relative;
  display: flex;
  margin-bottom: 3rem;

  &+p {
    margin-bottom: 7.2rem;
  }
}

.heading-container-left {
  justify-content: flex-start;
}

.heading-container-right {
  justify-content: flex-end;
}

.heading {
  font-weight: 400;
  font-size: 3.6rem;
  width: 100%;

  @include respond(md) {
    font-size: 4.2rem;
    width: 75%;
  }
}

.heading-left {
  text-align: left;
  padding-left: 2.4rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $turquoise;
  }
}

.heading-right {
  text-align: right;
  padding-right: 2.4rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: $turquoise;
  }
}

.heading-highlight {
  color: $teal;
}

// Alternate heading styles
.heading-alt {
  width: 100%;
}

.heading-alt-left {
  text-align: left;
}

.heading-alt-center {
  text-align: center;
}
