.linkButton-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


  @include respond(md) {
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
  }

  @include respond(lg) {
    width: 75%;
    margin: 0 auto;
  }
}

// Todo: finish these styles
.linkButton {
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  margin-bottom: 2.5rem;

}

.linkButton-regular,
.linkButton-regular:link,
.linkButton-regular:visited {
  border: 3px solid $teal;
  width: 100%;
  transtion: .4s ease all;

  @include respond(md) {
    width: auto;
  }

  &:hover {
    background-color: $teal;
    color: $white;
  }
}

.linkButton-solid,
.linkButton-solid:link,
.linkButton-solid:visited {
  text-decoration: none;
  background-color: $teal;
  color: $white;
  transtion: .4s ease all;

  &:hover {
    background-color: darken($teal, 10%);
  }
}

.linkButton-text {
  font-family: 'Roboto Mono', monospace;
  margin-right: 1.7rem;
}

.linkButton-icon {
  font-size: 4rem;
}
