.linkPlain-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.linkPlain,
.linkPlain:link,
.linkPlain:visited {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.linkPlain-text {
  color: $white;
  font-family: 'Roboto Mono', monospace;
  margin-right: 2rem;
}

.linkPlain-icon {
  font-size: 2.4rem;
}