.linkButton-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

// Todo: finish these styles
.linkButton {
  // Shared styles for all LinkButtons
}

.linkButton-regular {
  // Styles for regular (outline) version of LinkButton
}

.linkButton-regular {
  // Styles for solid version of LinkButton
}

.linkButton-text {

}

.linkButton-icon {

}