*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;

  @include respond(md) {
    font-size: 56.25%;
  }

  @include respond(lg) {
    font-size: 62.5%;
  }

  @include respond(xl) {
    font-size: 75%;
  }
}

body {
  background-color: $darkblue;
  font-size: 1.8rem;
}

a, a:link, a:visited {
  color: $teal;
  text-decoration: none;
}

p a, p a:link, p a:visited {
  text-decoration: underline;
}