.container {
  width: 100%;

  @include respond(phone) {
    max-width: 640px;
  }

  @include respond(tab-port) {
    max-width: 768px;
  }

  @include respond(tab-land) {
    max-width: 1024px;
  }

  @include respond(big-desktop) {
    max-width: 1280px;
  }
}

.inside-container {
  width: $contentWidth;

  @include respond(phone) {
    max-width: 640px * $contentWidth;
  }

  @include respond(tab-port) {
    max-width: 768px * $contentWidth;
  }

  @include respond(tab-land) {
    max-width: 1024px * $contentWidth;
  }

  @include respond(big-desktop) {
    max-width: 1280px * $contentWidth;
  }
}