// ======
// Colors
// ======

$black: #0B0C10;
$gray: #C5C6C7;
$white: #d9d9d9;

$darkblue: #1C2A3A;
$teal: #45A29E;
$turquoise: #60D4CC;

// ======
// Sizing
// ======

$contentWidth: 80%;
$headerHeight: 48rem;
$footerHeight: 4.2rem;

// =============
// Miscellaneous
// =============
$headerTransparency: 0.8;